
table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
}
table#leadTable tr:nth-child(even) {
	background-color: #eee;
}

table#leadTable tr:nth-child(odd) {
	background-color: #fff;
}

table#leadTable th {
	color: white;
	background-color: #504C49;
}

div#leadTableDiv {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	height: 50vh;
}
table#leadTableTL tr:nth-child(even) {
	background-color: #eee;
}

table#leadTableTL tr:nth-child(odd) {
	background-color: #fff;
}

table#leadTableTL th {
	color: white;
	background-color: #504C49;
}

div#leadTableDivTL {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	height: 50vh;
}
table#assetTable tr:nth-child(even) {
	background-color: #eee;
}

table#assetTable tr:nth-child(odd) {
	background-color: #fff;
}

table#assetTable th {
	color: white;
	background-color: #504C49;
}

div#assetTableDiv {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	height: 50vh;
}
table#campaignTable tr:nth-child(even) {
	background-color: #eee;
}

table#campaignTable tr:nth-child(odd) {
	background-color: #fff;
}

table#campaignTable th {
	color: white;
	background-color: #504C49;
}

div#campaignTableDiv {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	height: 50vh;
}